<footer class="pv4 ph3 ph5-ns tc serif">
  <div class="f3 black-60 tl mt2 measure-narrow mw5 center">
    <p class="tc f4">{{ site.title | escape }} </p>
    <p class="tl lh-copy db i bl pl3">{{ site.description | escape }}</p>
  </div>
  <div class="mt4 f6">
    {% if site.email %}
      <a class="pointer link dim black-80 dib mr3 mr4-ns mv2" href="mailto:{{ site.email }}">{{ site.email }}</a>
    {% endif %}
    {% if site.facebook_username %}
      <a class="pointer link dim black-80 dib mr3 mr4-ns mv2" href="https://facebook.com/{{site.facebook_username}}" title="facebook username">
        Facebook page
      </a>
    {% endif %}
  </div>
</footer>
