<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="bg-purple-to-pink ph4-ns">

    <header class="post-header">
    {% include header.html %}
    </header>

    <article class="mw8 bg-white shadow-4 mb4 black-90 post center serif f4-ns f5 pa2 pa4-ns">
      <div class="tc ph3">
        <h1 class="f2 f1-l fw2 near-black mb2 mt2 lh-title">
          {% if page.title %}
            {{page.title}}
          {% else %}
            {{site.headline}}
          {% endif %}
        </h1>
        
        {% if page.title %}
        {% else %}
        <h2 class="f4 f3-l fw2 dark-gray i mb4 mt2 lh-title">
            {{site.subheadline}}
        </h2>
        {% endif %}
      </div>
      <div class="post-content center0 lh-copy">
        {{ content }}
      </div>
    </article>

    {% include footer.html %}

  </body>

</html>
