<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="">

    <header class="cover bg-left bg-purple-to-pink">
    {% include header.html %}
    </header>

    <article class="post bg-white mb4 black-90 serif f4-ns f5 pa4">
      <div class="tc">
        <h1 class="f2 fw2 near-black mb2 mt4 lh-title ttu tracked baskerville">
          {% if page.title %}
            {{page.title}}
          {% else %}
            {{site.headline}}
          {% endif %}
        </h1>
        {% unless page.title %}
          <h1 class="f4 f3-l fw2 mb4 mt2 lh-title i black-50">
            - {{site.subheadline}} - 
          </h1>
        {% endunless %}
      </div>
      <div class="post-content center lh-copy">
        {{ content }}
      </div>
    </article>

    {% include footer.html %}

    <script src="https://unpkg.com/vue"></script>
    <script>
      {% include script.js %}
    </script>
  </body>

</html>
