<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="bg-purple-to-pink">

    <header class="cover bg-left bg-center-l">
    {% include header.html %}
    </header>

    <article class="bg-white shadow-4 mb4 black-90 post mw8 center serif f4-ns f5 pa4">
      <div class="tc ph3">
        <h1 class="f2 f1-l fw2 near-black mb2 mt2 lh-title">
          {% if page.title %}
            {{page.title}}
          {% else %}
            {{site.headline}}
          {% endif %}
        </h1>
      </div>
      <div class="post-content center lh-copy">
        {{ content }}
      </div>
    </article>

    {% include footer.html %}

    <script src="https://unpkg.com/vue"></script>
    <script>
      {% include script.js %}
    </script>
  </body>

</html>
