---
layout: default
---

<article class="measure center black-80 nested-headline-line-height" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="f4 measure center">
    {{ content }}
  <div>


  <div class="center f5 lh-copy ph2 tc" itemprop="articleBody">
    Posted
    {% if page.author %}
      by
      <cite itemprop="author" itemscope itemtype="http://schema.org/Person" class="f6 ttu tracked fs-normal"><span itemprop="name">{{ page.author }}</span></cite>
    {% endif %}
    on
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>

  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
